.bg-light {
    background-color: #90673a !important;
}
.btn-outline-success{
	color: white;
	border-color: white;
}
.btn-outline-success:hover{
	background-color: grey;
	border-color: white;
}
nav a {
	color: #cccaca !important;
	font-family: Helvetica;
	font-weight: bold;
}
nav a:hover{
	color: white !important;
	box-shadow: 2px 2px 4px white;
}
nav img {
	border-radius: 10px;
	width: 200px;
}